<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="9" name="All tests">
        <classes>
            <class name="pet.AddPetTest"/>
            <class name="pet.DeleteNonExistingPetTest"/>
            <class name="pet.DeletePetTest"/>
            <class name="pet.FindPetByStatusTest"/>
            <class name="pet.FindPetNegativeTest"/>
            <class name="pet.FindPetTest"/>
            <class name="pet.UpdatePetTest"/>
        </classes>
    </test>
</suite>